p{
    color: rgb(33, 62, 33);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

ol{
    color:rgb(33, 62, 33);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.section-heading{
    font-size: 25px;
    color:rgb(33, 62, 33);
    font-style: italic;

}

.post-title{
    color: rgb(33, 62, 33);
    font-size: 40px;
    font-style: italic;
}

.post-subtitle{
    color:rgb(33, 62, 33);
    font-size: 25px;
    font-weight: 100;
}

a{
    color:rgb(59, 27, 27);
    font-weight: bold;
}